@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@import './icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif !important;
}

.font-source-code-pro {
  font-family: 'Source Code Pro', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
.heading-1 {
  @apply !text-[22px] !font-semibold leading-7;
}

h2,
.heading-2 {
  @apply !text-lg !font-semibold leading-6;
}

h3,
.heading-3 {
  @apply !text-base !font-medium leading-5;
}

h4,
.heading-4 {
  @apply !text-sm !font-medium leading-4;
}

p,
.p {
  @apply !text-xs !font-normal leading-4;
}

h5,
.heading-5 {
  @apply !text-xs !font-semibold leading-4;
}

h6,
.heading-6 {
  @apply !text-[10px] !font-semibold leading-3;
}

@layer utilities {
  .scrollbar-w-none {
    scrollbar-width: none;
  }

  .scrollbar-w-thin {
    scrollbar-width: thin;
  }
}
